# Week 2

Dataframe basics and basic fucntions

In [65]:
import pandas as pd

In [66]:
df = pd.read_csv('nyc_weather.csv')

# Indexing and Slicing

## Just rows 2 to 4 

We use slicing 2:5 where 5 is not included

In [67]:
df[2:5]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/16,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/16,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/16,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [68]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/16,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/16,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/16,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/16,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/16,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/16,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/16,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/16,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/16,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/16,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/16,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/16,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/16,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/16,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/16,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/16,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/16,25,6,53,29.83,9,12.0,T,2,snow,293
18,1/19/16,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/16,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/16,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/16,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/16,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/16,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/16,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/16,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/16,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/16,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/16,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/16,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/16,46,28,52,29.90,10,5.0,0,0,NaN,241

# Columns 

Print the columns in the dataframe

In [69]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [70]:
#df.Events  or 
df['Events'] # both are same

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [71]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

What type of series this is ?

In [72]:
type(df['Events'])

pandas.core.series.Series

**How do you print selected columns**

In [73]:
df[['Events','EST']]

      Events      EST
0        NaN   1/1/16
1        NaN   1/2/16
2        NaN   1/3/16
3        NaN   1/4/16
4        NaN   1/5/16
5        NaN   1/6/16
6        NaN   1/7/16
7        NaN   1/8/16
8       Rain   1/9/16
9       Rain  1/10/16
10       NaN  1/11/16
11       NaN  1/12/16
12       NaN  1/13/16
13       NaN  1/14/16
14       NaN  1/15/16
15      Rain  1/16/16
16  Fog-Snow  1/17/16
17      snow  1/18/16
18       NaN  1/19/16
19       NaN  1/20/16
20       NaN  1/21/16
21      Snow  1/22/16
22  Fog-Snow  1/23/16
23      Snow  1/24/16
24       NaN  1/25/16
25       NaN  1/26/16
26      Rain  1/27/16
27       NaN  1/28/16
28       NaN  1/29/16
29       NaN  1/30/16
30       NaN  1/31/16

How to find the maximum in a given column?

In [74]:
df.Temperature.max()

50

In [75]:
df['Temperature'].max()

50

## How to quickly print Stastics of your data ?

In [76]:
df[2:10]
#df.Temperature.describe 
# This didnt work for this , probabaly if it has only few columns then it might

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/16,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/16,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/16,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/16,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/16,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/16,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/16,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/16,50,46,71,29.59,4,NaN,1.8,7,Rain,109

##  Dataframes works as SQL, wherein you can enter the condition

In [77]:
df[df.Temperature>45]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,1/10/16,50,46,71,29.59,4,NaN,1.8,7,Rain,109
15,1/16/16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
30,1/31/16,46,28,52,29.90,10,5.0,0,0,NaN,241

In [78]:
df[df.Temperature==df.Temperature.max()]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,1/10/16,50,46,71,29.59,4,NaN,1.8,7,Rain,109

## Where do we find other functions?

pandas series functions gives you lot of other documentation

## How to change from internal index (default)

In [109]:
df.set_index('EST')
# this is not square brackets

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/16,38,23,52,30.03,10,8.0,0,5,NaN,281
1/2/16,36,18,46,30.02,10,7.0,0,3,NaN,275
1/3/16,40,21,47,29.86,10,8.0,0,1,NaN,277
1/4/16,25,9,44,30.05,10,9.0,0,3,NaN,345
1/5/16,20,-3,41,30.57,10,5.0,0,0,NaN,333
1/6/16,33,4,35,30.50,10,4.0,0,0,NaN,259
1/7/16,39,11,33,30.28,10,2.0,0,3,NaN,293
1/8/16,39,29,64,30.20,10,4.0,0,8,NaN,79
1/9/16,44,38,77,30.16,9,8.0,T,8,Rain,76
1/10/16,50,46,71,29.59,4,NaN,1.8,7,Rain,109
1/11/16,33,8,37,29.92,10,NaN,0,1,NaN,289
1/12/16,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/16,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/16,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/16,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/16,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/16,25,6,53,29.83,9,12.0,T,2,snow,293
1/19/16,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/16,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/16,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/16,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/16,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/16,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/16,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/16,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/16,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/16,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/16,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/16,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/16,46,28,52,29.90,10,5.0,0,0,NaN,241

Setting the index gives us option of locating the date

In [113]:
df.loc['1/4/2017']

KeyError: '1/4/2017'

But This gives you error ! why ?
because index we set is temporary only ,the set_index gives me new dataframe 
it doesnt modify the original dataframe. then how do we change it to default?

In [105]:
df.set_index('EST', inplace =True)
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/16,38,23,52,30.03,10,8.0,0,5,NaN,281
1/2/16,36,18,46,30.02,10,7.0,0,3,NaN,275
1/3/16,40,21,47,29.86,10,8.0,0,1,NaN,277
1/4/16,25,9,44,30.05,10,9.0,0,3,NaN,345
1/5/16,20,-3,41,30.57,10,5.0,0,0,NaN,333
1/6/16,33,4,35,30.50,10,4.0,0,0,NaN,259
1/7/16,39,11,33,30.28,10,2.0,0,3,NaN,293
1/8/16,39,29,64,30.20,10,4.0,0,8,NaN,79
1/9/16,44,38,77,30.16,9,8.0,T,8,Rain,76
1/10/16,50,46,71,29.59,4,NaN,1.8,7,Rain,109
1/11/16,33,8,37,29.92,10,NaN,0,1,NaN,289
1/12/16,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/16,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/16,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/16,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/16,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/16,25,6,53,29.83,9,12.0,T,2,snow,293
1/19/16,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/16,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/16,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/16,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/16,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/16,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/16,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/16,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/16,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/16,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/16,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/16,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/16,46,28,52,29.90,10,5.0,0,0,NaN,241

In [102]:
df.loc['1/1/16']

Temperature                38
DewPoint                   23
Humidity                   52
Sea Level PressureIn    30.03
VisibilityMiles            10
WindSpeedMPH              8.0
PrecipitationIn             0
CloudCover                  5
Events                    NaN
WindDirDegrees            281
Name: 1/1/16, dtype: object

# How to reset index ?

In [110]:
df.reset_index(inplace=True)
df

,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,0,1/1/16,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1,1/2/16,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2,1/3/16,40,21,47,29.86,10,8.0,0,1,NaN,277
3,3,1/4/16,25,9,44,30.05,10,9.0,0,3,NaN,345
4,4,1/5/16,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,5,1/6/16,33,4,35,30.50,10,4.0,0,0,NaN,259
6,6,1/7/16,39,11,33,30.28,10,2.0,0,3,NaN,293
7,7,1/8/16,39,29,64,30.20,10,4.0,0,8,NaN,79
8,8,1/9/16,44,38,77,30.16,9,8.0,T,8,Rain,76
9,9,1/10/16,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,10,1/11/16,33,8,37,29.92,10,NaN,0,1,NaN,289
11,11,1/12/16,35,15,53,29.85,10,6.0,T,4,NaN,235
12,12,1/13/16,26,4,42,29.94,10,10.0,0,0,NaN,284
13,13,1/14/16,30,12,47,29.95,10,5.0,T,7,NaN,266
14,14,1/15/16,43,31,62,29.82,9,5.0,T,2,NaN,101
15,15,1/16/16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,16,1/17/16,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,17,1/18/16,25,6,53,29.83,9,12.0,T,2,snow,293
18,18,1/19/16,22,3,42,30.03,10,11.0,0,1,NaN,293
19,19,1/20/16,32,15,49,30.13,10,6.0,0,2,NaN,302
20,20,1/21/16,31,11,45,30.15,10,6.0,0,1,NaN,312
21,21,1/22/16,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,22,1/23/16,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,23,1/24/16,28,11,53,29.92,8,6.0,T,3,Snow,327
24,24,1/25/16,34,18,54,30.25,10,3.0,0,2,NaN,286
25,25,1/26/16,43,29,56,30.03,10,7.0,0,2,NaN,244
26,26,1/27/16,41,22,45,30.03,10,7.0,T,3,Rain,311
27,27,1/28/16,37,20,51,29.90,10,5.0,0,1,NaN,234
28,28,1/29/16,36,21,50,29.58,10,8.0,0,4,NaN,298
29,29,1/30/16,34,16,46,30.01,10,7.0,0,0,NaN,257
30,30,1/31/16,46,28,52,29.90,10,5.0,0,0,NaN,241

In [111]:
df.set_index('Temperature',inplace=True)

In [112]:
df

,index,EST,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
Temperature,,,,,,,,,,,
38,0,1/1/16,23,52,30.03,10,8.0,0,5,NaN,281
36,1,1/2/16,18,46,30.02,10,7.0,0,3,NaN,275
40,2,1/3/16,21,47,29.86,10,8.0,0,1,NaN,277
25,3,1/4/16,9,44,30.05,10,9.0,0,3,NaN,345
20,4,1/5/16,-3,41,30.57,10,5.0,0,0,NaN,333
33,5,1/6/16,4,35,30.50,10,4.0,0,0,NaN,259
39,6,1/7/16,11,33,30.28,10,2.0,0,3,NaN,293
39,7,1/8/16,29,64,30.20,10,4.0,0,8,NaN,79
44,8,1/9/16,38,77,30.16,9,8.0,T,8,Rain,76
50,9,1/10/16,46,71,29.59,4,NaN,1.8,7,Rain,109
33,10,1/11/16,8,37,29.92,10,NaN,0,1,NaN,289
35,11,1/12/16,15,53,29.85,10,6.0,T,4,NaN,235
26,12,1/13/16,4,42,29.94,10,10.0,0,0,NaN,284
30,13,1/14/16,12,47,29.95,10,5.0,T,7,NaN,266
43,14,1/15/16,31,62,29.82,9,5.0,T,2,NaN,101
47,15,1/16/16,37,70,29.52,8,7.0,0.24,7,Rain,340
36,16,1/17/16,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
25,17,1/18/16,6,53,29.83,9,12.0,T,2,snow,293
22,18,1/19/16,3,42,30.03,10,11.0,0,1,NaN,293
32,19,1/20/16,15,49,30.13,10,6.0,0,2,NaN,302
31,20,1/21/16,11,45,30.15,10,6.0,0,1,NaN,312
26,21,1/22/16,6,41,30.21,9,NaN,0.01,3,Snow,34
26,22,1/23/16,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
28,23,1/24/16,11,53,29.92,8,6.0,T,3,Snow,327
34,24,1/25/16,18,54,30.25,10,3.0,0,2,NaN,286
43,25,1/26/16,29,56,30.03,10,7.0,0,2,NaN,244
41,26,1/27/16,22,45,30.03,10,7.0,T,3,Rain,311
37,27,1/28/16,20,51,29.90,10,5.0,0,1,NaN,234
36,28,1/29/16,21,50,29.58,10,8.0,0,4,NaN,298
34,29,1/30/16,16,46,30.01,10,7.0,0,0,NaN,257
46,30,1/31/16,28,52,29.90,10,5.0,0,0,NaN,241